USE [master]
GO
/****** Object:  Database [ATENCION_CLIENTE]    Script Date: 04/07/2025 16:04:41 ******/
CREATE DATABASE [ATENCION_CLIENTE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ATENCION_CLIENTE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ATENCION_CLIENTE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ATENCION_CLIENTE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ATENCION_CLIENTE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATENCION_CLIENTE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATENCION_CLIENTE]
GO
/****** Object:  Table [dbo].[ATENCION_CLIENTE]    Script Date: 04/07/2025 16:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATENCION_CLIENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[APELLIDOS] [nvarchar](100) NOT NULL,
	[CELULAR] [nvarchar](20) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[SEXO] [nvarchar](10) NOT NULL,
	[MOTIVO] [nvarchar](500) NOT NULL,
	[FECHA_ALTA] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CELULAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ATENCION_CLIENTE] ADD  DEFAULT (getdate()) FOR [FECHA_ALTA]
GO
USE [master]
GO
